<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wqzhang.user.mapper.UserMapper">

    <!-- 查询出表头的时间段 -->
    <select id="getUser" parameterType="pd" resultType="pd">
		 select id,name from sys_user where id = #{STUDENT_ID,jdbcType=INTEGER}
	</select>

    <insert id="insertUser" parameterType="pd">
		insert into sys_user
			(name)
			VALUE (
				#{NAME}
			)
	</insert>

    <select id="listAllUser" resultType="pd">
		select id ID ,name NAME from sys_user
	</select>


    <select id="userlistPage" resultType="pd" parameterType="page">
		select id ID ,name NAME from sys_user
	</select>


    <select id="getUserByAccount" resultType="pd" parameterType="String">
		select * from sys_user where account = #{_parameter}
	</select>


    <select id="listPermsByUserId" resultType="pd">
		SELECT DISTINCT
-- 		 t2.name ROLE_NAME ,t1.name USER_NAME,t4.name MENU_NAME ,
		 t4.perm PERM
		from sys_user t1 LEFT JOIN sys_role t2 on t1.role_id = t2.id
		LEFT JOIN sys_role_menu t3 on t2.id = t3.role_id
		left join sys_menu t4 on t3.menu_id = t4.id
		where t4.name is not null and t1.id = #{_parameter} and PERM is not null ;
	</select>


</mapper>